# Gradle
.gradle/
build/
**/build/
local.properties

# Android
*.apk
*.ap_
*.dex
*.class
captures/
output.json

# IntelliJ / Android Studio
.idea/
*.iml
*.iws
*.ipr
out/

# Keystores and Secrets
*.jks
*.keystore
google-services.json
signing/play/
signing/github/

# OS/System
.DS_Store
Thumbs.db
*~

# Logs
*.log

# Project Specific
reports/
testResults/
releases/
/.kotlin/
.kobalt/
Gemfile.lock
/fastlane/report.xml
/plugins/.idea/workspace.xml
artifacts/
.transifexrc
mainframer.sh
.mainframer
